[submodule "ido-goto-buffer-tag"]
	path = ido-goto-buffer-tag
	url = https://github.com/moushkka/ido-goto-buffer-tag.git
[submodule "external/use-package"]
	path = external/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "external/paredit"]
	path = external/paredit
	url = https://mumble.net/~campbell/git/paredit.git
