[submodule "external/use-package"]
	path = el/external/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "external/paredit"]
	path = el/external/paredit
	url = https://mumble.net/~campbell/git/paredit.git
